@page
@model IndexModel

<div class="row" style="padding-top:20px;">
    <div class="col-md-12">
        <p>Type a search term, then see if you can guess the image that was returned first in the search results!</p>
    </div>
</div>
<form method="POST">
@if (Model.SearchDetails is null || Model.SearchDetails.ShowSearchBox) {
    <div class="row">
        <div class="col-md-12">
            <p>Your search: <input asp-for="SearchDetails.SearchTerm" /> <input type="submit" /></p>
        </div>
    </div>
}
@if (Model.SearchDetails?.ShowImageSelection ?? false) {
    <div class="row well">
        <div class="col-md-12 text-center">
            <p>Which of these images is the first search result for "@Model.SearchDetails.SearchTerm"</p>
        </div>
        <div class="col-md-6 text-center">
            <div><button name="SearchDetails.Guess" value="1" >This one here!</button></div>
            <br />
            <img src="@Model.SearchDetails.ImgUrl1" width="90%" height="auto" />
            <input type="hidden" asp-for="SearchDetails.ImgUrl1" />
            <input type="hidden" asp-for="SearchDetails.ImgUrl1SearchIndex" />
        </div>
        <div class="col-md-6 text-center">
            <div><button name="SearchDetails.Guess" value="2" >This one here!</button></div>
            <br />
            <img src="@Model.SearchDetails.ImgUrl2" width="90%" height="auto" />
            <input type="hidden" asp-for="SearchDetails.ImgUrl2" />
            <input type="hidden" asp-for="SearchDetails.ImgUrl2SearchIndex" />
        </div>
    </div>
    <input type="hidden" asp-for="SearchDetails.SearchTerm" />
}
else if (Model.SearchDetails?.ShowResults ?? false) {
    <div class="row well">
        <div class="col-md-12 text-center">
            <p>@Model.SearchDetails.Message</p>
            @if (Model.SearchDetails.Guess == 1) {
                <img src="@Model.SearchDetails.ImgUrl1" />
            } else {
                <img src="@Model.SearchDetails.ImgUrl2" />
            }
        </div>
    </div>
}
</form>